footer {
    background-color: #7fbaf5;
    color: white;
    text-align: center;
}

footer p {
    margin-top: 5px;
}

footer a {
    color: blue;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}