header {
    background-color: #1eff29;
    text-align: center;
    line-height: 1;
}

header h1 {
    color: black;
    font-size: 42px;
    font-weight: bold;
}

h1+p {
    color: black;
    font-size: 20px;
    font-style: italic;
}