body {
    background-color: #f4f4f9;
    margin: 40px 200px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #1e90ff;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}



