body {
    background-color: #f4f4f9;
}

h2 {
    color: #1e90ff;
    font-size: 32px;
    text-align: center;
}

.subtitle {
    color: #666;
    text-align: center;
    font-size: 16px;
}

.services-list {
    list-style-type: none;
}

.services-list li {
    color: #333;
    font-size: 18px;
    padding-top: 15px;
}

.services-list li:first-child {
    text-decoration: line-through underline;
    color: #666;
}

.services-list li:nth-child(2) {
    font-weight: bold;
}
