* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-color: cyan;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    text-align: center;
    position: relative;
}

.banner h1 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
}

.banner .slogan {
    background-color: white;
    width: 100%;
    color: black;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    padding: 15px 0; 
    text-align: center;
}